$dark: #1d2332f0;
$light: #fff;

$app-color: #5d5d5d;
$app-color-shadow: #fc024d85;
$app_bg_color: #222b37;
$txt-color: #fff;

$drawer_bg_color: #181c24;
// $header_color: #0094ea;
$header_color: #f24fe5;