.rw-open-launcher__container img {
    display: none !important;
}

.rw-launcher  {
    background: url('https://images.pexels.com/photos/2599244/pexels-photo-2599244.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260') no-repeat center center/cover !important;
}

.bot__lock {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
}

.chatbot__textarea {
    width: 200px;
    border: 2px solid red;
    /* border: 1px solid #ccc; */
    /* font-family: inherit; */
    font-size: inherit;
    padding: 1px 6px;
  }
  .chatbot__textarea {
    outline: none;
    display: block;
    width: 100%;
    overflow: hidden;
    resize: both;
    /* min-height: 40px; */
    line-height: 20px;
  }
  .chatbot__textarea[contenteditable]:empty::before {
    content: "Type a message...";
    color: gray;
  }