@import "auth.css";
@import "home.css";
@import "chatbot.css";
@import "variables.css";
@import "logInSignUp.css";
@import "style.css";
@import "dashboard.css";
@import "profile.css";


select{
    outline: none !important;
    text-transform: capitalize !important;
}
.header-select{
    border-radius: 6px;
    height: 33px;
    width: 160px;
}
.capitalize{
    text-transform: capitalize !important;
}

.bold{
    font-weight: bold;
}

.required::after{
    content: '*';
    color: tomato;
}