:root {
    --blue: #1e90ff;
    --white: #ffffff;

    --app-color: #fff;
    --app-bg-color: #151f20;

/* 
    --txt-color: #000;
    --app-color: #fc024d;
    --app-color-shadow: #fc024d85;

    --dark: #1d2332f0;
    --light: #fff; */
  }